.list-group.mb-1
  .list-group-item.list-group-item-action.border.border-0{ id: "record_#{record.id}" }
    .row
      .col-auto
        %i{ class: file_icon(record.type) }
      .col.ps-0
        = record.name
      .col-auto
        %button.bi.bi-trash3.button-trn{ type: 'button', title: t('records.delete_file'), data: { 'bs-toggle': 'modal', 'bs-target': "#delete_modal_record_#{record.id}" } }
      .col-auto
        = link_to '', url_for(record.document.blob), title: t('records.download_file'), class: 'bi bi-cloud-download text-dark'
.modal.fade{ id: "delete_modal_record_#{record.id}", tabindex: '-1', 'aria-labelledby': "delete_modal_#{record.id}", 'aria-hidden': 'true' }
  .modal-dialog
    .modal-content
      .modal-body
        %p.mb-0= "#{t('global.delete')} #{record.name}?"
      .modal-footer.pt-1.pb-1
        %button.btn.btn-secondary.btn-sm{ type: 'button', data: { 'bs-dismiss': 'modal' } }= t('global.cancel')
        = button_to t('global.delete'), record_path(record), method: :delete, class: 'btn btn-danger btn-sm'
