!!!
%html
  %head
    %title= t('global.x_disk')
    %meta{ name: 'viewport', content: 'width=device-width,initial-scale=1' }
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true

  %body.text-bg-light
    .container
      .card.border.border-0.shadow-sm.mt-2.mb-3
        .card-body
          .row.align-items-end
            .col-auto
              %h4.fw-bold.mb-0= t('global.x_disk')
            -if user_signed_in?
              .col-auto
                %h5.text-secondary.mb-0= current_user.username
              .col-12.col-md.mt-3.mt-md-0
                .row.flex-row-reverse.align-items-end
                  .col-3.col-md-auto
                    = button_to t('users.sign_out'), destroy_user_session_path, method: :delete, class: 'btn btn-secondary btn-sm'
                  .col-9.col-md-4
                    = render 'records/form', record: @new_record
                  .col-12.col-md-auto.mt-3.mt-md-0#available_space
                    = "#{t('records.available')} #{available_disk_space(current_user.used_disk_space)} #{t('records.mb')}"
      - if flash[:notice].present?
        = render partial: 'partials/notice'
      - if flash[:alert].present?
        = render partial: 'partials/alert'
      -if user_signed_in?
        = render partial: 'partials/errors_form', locals: { model: @new_record }
      = yield
