!!!
%html
  %head
    %titleX-Disk
    %meta{ name: 'viewport', content: 'width=device-width,initial-scale=1' }
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true

  %body.text-bg-light
    .container
      .card.border.border-0.shadow-sm.mt-2.mb-3
        .card-body
          .row.align-items-end
            .col-auto
              %h4.fw-bold.mb-0= t('global.x_disk')
            .col-auto
              %h5.text-secondary.mb-0= current_user.username
            .col
              .row.flex-row-reverse
                .col-auto
                  = button_to t('users.sign_out'), destroy_user_session_path, method: :delete, class: 'btn btn-secondary btn-sm'
                .col-4
                  = render 'records/form', record: @new_record
      - if flash[:notice].present?
        = render partial: 'partials/notice'
      - if flash[:alert].present?
        = render partial: 'partials/alert'
      = render partial: 'partials/errors_form', locals: { model: @new_record }
      = yield
