!!!
%html
  %head
    %titleX-Disk
    %meta{ name: 'viewport', content: 'width=device-width,initial-scale=1' }
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true

  %body.text-bg-light
    .container
      %nav.navbar.navbar-expand-lg.shadow
        .container-fluid
          .navbar-brand= t('global.x_disk')
          = button_to t('users.sign_out'), destroy_user_session_path, method: :delete, class: 'btn btn-secondary btn-sm'
      = yield
